include _partial/post
include _partial/menu
extends _partial/main

block main
  -page.posts.each(function(post){
    +post(post, 'index')
  -})

block head
  title
    = config.title

block menu
  +menu('index')