include _partial/post
include _partial/menu
extends _partial/main

block main
  -page.posts.each(function(post){
    +post(post, 'tag')
  -})

block head
  title
    = page.tag + ' - ' + config.title

block menu
  +menu('tag')